trunk/servir/src/wsdl/ws.reniec.gob.pe/SRELService/SRELServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rel.reniec.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rel.reniec.org/" name="SRELServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://rel.reniec.org/" schemaLocation="http://ws.reniec.gob.pe:80/SRELService/SRELServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getSession">
<part name="parameters" element="tns:getSession"></part>
</message>
<message name="getSessionResponse">
<part name="parameters" element="tns:getSessionResponse"></part>
</message>
<message name="getRegIdentAproximacion">
<part name="parameters" element="tns:getRegIdentAproximacion"></part>
</message>
<message name="getRegIdentAproximacionResponse">
<part name="parameters" element="tns:getRegIdentAproximacionResponse"></part>
</message>
<message name="getRegIdentConsolidada2">
<part name="parameters" element="tns:getRegIdentConsolidada2"></part>
</message>
<message name="getRegIdentConsolidada2Response">
<part name="parameters" element="tns:getRegIdentConsolidada2Response"></part>
</message>
<portType name="SRELService">
<operation name="getSession">
<input message="tns:getSession"></input>
<output message="tns:getSessionResponse"></output>
</operation>
<operation name="getRegIdentAproximacion">
<input message="tns:getRegIdentAproximacion"></input>
<output message="tns:getRegIdentAproximacionResponse"></output>
</operation>
<operation name="getRegIdentConsolidada2">
<input message="tns:getRegIdentConsolidada2"></input>
<output message="tns:getRegIdentConsolidada2Response"></output>
</operation>
</portType>
<binding name="SRELServicePortBinding" type="tns:SRELService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRegIdentAproximacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRegIdentConsolidada2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SRELServiceService">
<port name="SRELServicePort" binding="tns:SRELServicePortBinding">
<soap:address location="http://ws.reniec.gob.pe:80/SRELService/SRELServiceService"></soap:address>
</port>
</service>
</definitions>