servir/src/wsdl/ws.reniec.gob.pe_80/SRELService/SRELServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://rel.reniec.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://rel.reniec.org/">

<xs:element name="getRegIdentAproximacion" type="tns:getRegIdentAproximacion"></xs:element>

<xs:element name="getRegIdentAproximacionResponse" type="tns:getRegIdentAproximacionResponse"></xs:element>

<xs:element name="getRegIdentConsolidada2" type="tns:getRegIdentConsolidada2"></xs:element>

<xs:element name="getRegIdentConsolidada2Response" type="tns:getRegIdentConsolidada2Response"></xs:element>

<xs:element name="getSession" type="tns:getSession"></xs:element>

<xs:element name="getSessionResponse" type="tns:getSessionResponse"></xs:element>

<xs:complexType name="getSession">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegIdentConsolidada2">
<xs:sequence>
<xs:element name="sesion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codTxEmp" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dniUserEmp" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dni" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegIdentConsolidada2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegIdentAproximacion">
<xs:sequence>
<xs:element name="sesion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apPaterno" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apMaterno" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombres" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRegIdentAproximacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>